
            .main{
                position: absolute;
                margin-top: 0px;
            }
            #button1{
                position: absolute;
                top: 50%;
                left: 40%;
                text-decoration: none;
            }
            #button2{
                position: absolute;
                top: 50%;
                left: 60%;
                text-decoration: none;
            }
            .box:hover{
                color: cadetblue;
            }
            .box{
                font-size: 30px;
                color: black;
            }
            .closebtn {
              margin-right: 20px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 15px;
              cursor: pointer;
              transition: 0.3s;
            }