
            .main{
                position: absolute;
                margin-top: 0px;
            }
            #button1{
                position: absolute;
                top: 50%;
                left: 40%;
                text-decoration: none;
            }
            #button2{
                position: absolute;
                top: 50%;
                left: 60%;
                text-decoration: none;
            }
            .box{
                background-image: linear-gradient(to right,#ECE9E6, #FFFFFF);
                padding: 10px;
                border-radius: 10px;
                border: 1px solid white;
                font-size: 25px;
                width: 150px;
                text-align: center;
                color: black;
            }
            
            .box span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }
  
            .box span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
              }
              
              .box:hover span {
                padding-right: 25px;
              }
              
              .box:hover span:after {
                opacity: 1;
                right: 0;
              }
            .closebtn {
              margin-right: 20px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 15px;
              cursor: pointer;
              transition: 0.3s;
            }